body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.wrapper {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 270px;
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed; /* サイドバーを固定 */
    top: 0;          /* 画面の上部に固定 */
    left: 0;         /* 画面の左側に固定 */
    height: 100%;    /* サイドバーの高さを画面の高さに合わせる */
    overflow-y: auto; /* サイドバー内が溢れた場合はスクロールを表示 */
}

.sidebar h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
    position: relative;
}

.sidebar ul li a {
    color: #ccc;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #575757;
    color: #fff;
}

.sidebar ul ul {
    margin-left: 20px;
    padding-left: 0;
}

.sidebar ul ul li {
    margin: 5px 0;
}

.sidebar ul ul li a {
    padding-left: 20px;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 310px; /* サイドバーの横幅分を調整 */
}

.main-content h1, h2 {
    color: #333;
}

.main-content h1 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.main-content h2 {
    margin-top: 30px;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}

.footer {
    margin-top: 30px;
    font-size: 0.9em;
    color: #777;
    text-align: center;
}
.c {
    margin-right: 40px;
}
.c img {
    display: block;
    margin-right: 40px;
}
.overlay { /* グレーの背景 */
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.5s 0s ease;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.popup-checkbox {
  display: none;
}
.popup-checkbox:checked + .overlay {
  visibility: visible;
  opacity: 1;
  z-index: 100000;
  background-color: #000000D0;
  width: 100%;
}
.popWindow {
  border-radius: 5px;
  overflow: auto; /* スクロールバー用 */
  max-height: 95%; /* すき間 */
  min-width: fit-content; /* 横幅が広い時に白の部分が大きくならないため */
  max-width: 95%; /* すき間 */
  position: fixed;
  top: 50%; /* 中央に */
  left: 50%; /* 中央に */
  transform: translate(-50%, -50%); /* 中央に */
  z-index: 100010;
  font-size: 13px;
  line-height: 18px;
  margin: 10px auto;
  padding: 4px 10px;
  background: #FFFD; /* 枠の色 */
  text-align: center; /* 文字を中央寄せ */
  transition: all 500ms ease-in-out;
}
.popWindow .ptitle {
  font-size: 15px;
  margin: 8px;
  color: #333;
}
.popWindow .close {
  position: absolute;
  top: 8px;
  right: 10px;
  transition: all 300ms;
  font-size: 24px;
  line-height: inherit;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  padding: 2px;
}
.popWindow .close:hover {
  color: #06D85F;
}
.popWindow::-webkit-scrollbar-track {
  background: none;
}
.popWindow::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.popWindow::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 5px;
}
.clickable:hover {
  cursor: pointer;
}
@media screen and (max-width: 700px){
  .popup-checkbox:checked + .overlay {
    visibility: hidden;
    opacity: 0;
  }
}
.code-container {
  position: relative;
  background-color: #333; /* 背景色を黒に */
  border: 1px solid #ddd;
  padding: 16px;
  margin: 20px 0;
  border-radius: 5px;
  font-family: monospace;
 
  color: #fff; /* 文字色を白に */
}

.copy-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #06D85F;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.copy-btn:hover {
  background-color: #04a64b;
}

pre {
  margin: 0;
  white-space: pre-wrap; /* 長い行を折り返す */
  overflow-x: auto; /* 横スクロールを有効にする */
  white-space: pre; /* インデントや空白をそのまま表示 */
  word-wrap: break-word;
  background-color: #333; /* コード部分の背景色を黒に */
  color: #fff; /* コード部分の文字色を白に */
  padding: 10px;
  border-radius: 5px;
}